{% extends "./base.html" %}

{% block content %}

    <div class="container">

                            <div class="row clearfix">
    {% if log_user %}

        <div class="col-md-4 column" >
        <h1>Users:</h1>
                    <div class="cell3">
        <a href="{% url 'blog:user' user.id 'homepage' %}" > User name:{{ user.username }}</a><br><br>
<table border="0" cellpadding="1" cellspacing="1" style="width: 500px;">
  <tbody>
    <tr>
      <td>
      <p>Email:{{ user.email }}</p>
      </td>
      </tr>
<tr>
      <td>
      <p>Joined date:{{ user.date_joined }}</p>
      </td>
    </tr>
  </tbody>
  <tr>
  <td>
                  <p>User.id:{{ user.id }}</p>
  </td>
  </tr>
</table>     
</div>
<br>
          </div> 
    {% else %}
                        <div class="col-md-4 column" >
                         <h1>Users:</h1>
            <div class="cell3">
        <h3>No user.</h3>
        </div>
        </div>
    {% endif %}
        <div class="col-md-4 column" >
        <table>
        <thead>
        <tr>
        <th>
            <h1>Following blogs:</h1>
               </th>
               </tr>
               </thead>
    {% if blog_list %}<tbody>
        <tr>
        <td>
            {% for blog in blog_list %}
            <div class="cell3"> 
                  <div class="hero-unit">
                  <a href="{% url 'blog:blog' blog.id 'view' %}">Title:{{ blog.blog_title }}</a><br><br>
                <p>Post date: {{ blog.blog_postdate }}</p>
                <p>Blog Content:<br> {{ blog.blog_content }}</p>
                </div>
                </div>
                <br>
            {% endfor %}</td></tr></tbody>
    {% else %}
     <tr>
        <td>
                   <div class="cell3"> 
        <h3>No blog to show.</h3>
        </td></tr>
        </tbody>
    {% endif %}
        </div>
            <div class="col-md-4 column">        <table> </table> 
    </div>
                <div class="col-md-4 column">        <table>
        <thead>
        <tr>
        <th>
                <h1>Following users:</h1>
                 </th>
               </tr>
               </thead>
    {% if follow_list %}
            <tbody>
                        {% for user in follow_list %}
        <tr>
        <td>
                                        <div class="cell3">
        <a href="{% url 'blog:user' user.id 'homepage' %}" > User name:{{ user.username }}</a><br><br>
      <p>Email:{{ user.email }}</p>
      <p>Joined date:{{ user.date_joined }}</p>
                  <p>User.id:{{ user.id }}</p>
                  </div>
  </td>
  </tr>              {% endfor %}

    {% else %}<tr>
    <td>
    <div class="cell3">
        <h3>Not following any user yet.</h3></div>
        </td>
        </tr>    </tbody>
    {% endif %} </table> 
    </div>
    </div>
    </div>

{% endblock %}