{% extends "./base.html" %}

{% block content %}
<div class="container">

            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">{{ User.username }}'s Blog</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                                 {% if not self %}
        <form action="{% url 'blog:user' User.id 'follow' %}" method="post">
            {% csrf_token %}
            {% if not follow %}
                <button type="submit" class="btn btn-primary btn-lg">Follow</button>
            {% else %}
                <button type="submit" class="btn btn-primary btn-lg">Unfollow</button>
            {% endif %}
        </form>
    {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>


    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% if Blog_list %}

        <ul>
        {% for blog in Blog_list %}
            {% if not blog.blog_private or self %}
                {% if blog.fwd_blog %}

 <div class="row clearfix cell3">
        <div class="col-md-12 column" >
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Title:</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                             <a href="{% url 'blog:blog' blog.id 'view' %}">{{ blog.fwd_blog.blog_title }}</a>
                        </li>
                                              <li class="active">
                                {% if self %}
                            <form action="{% url 'blog:blog' blog.id 'delete' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-lg">Delete</button>
                            </form>
    {% endif %}
                        </li> 
                    </ul>
                </div>
                       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  
                </div>

            </nav>
            <table class="table">
                <thead>
                                    <tr>
                        <th>
                            <p> Author: </p>
                        </th>
                        <th>
                            <a href="{% url 'blog:user' blog.fwd_blog.blog_author_id 'homepage' %}">{{ blog.fwd_blog.blog_author.username }}</a>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p> Post date: </p>
                        </th>
                        <th>
                            <p>{{ blog.fwd_blog.blog_postdate }}</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        <p>Blog content:</p>    
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <p>{{ blog.fwd_blog.blog_content }}</p>
                        </td>
                            
                    </tr>
                                        <tr>
                        <td>
                        <p>Forward message:</p>    
                        </td>
                        <td>
                        <p>{{ blog.blog_title }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <p>Forward date:</p>
                        </td>
                        <td>
                        <p>{{ blog.blog_postdate }}<p>
                        </td>
                            
                    </tr>
                </tbody>
            </table>
        </div>
    </div><br>
                {% else %}

 <div class="row clearfix cell3">
        <div class="col-md-12 column" >
                        <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Title:</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                             <a href="{% url 'blog:blog' blog.id 'view' %}">{{ blog.blog_title }}</a>
                        </li>
                                              <li class="active">
                                {% if self %}
                            <form action="{% url 'blog:blog' blog.id 'delete' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-lg">Delete</button>
                            </form>
    {% endif %}
                        </li> 
                    </ul>
                </div>
                       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  
                </div>

            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a> Post date: </a>
                        </th>
                        <th>
                            <a>{{ blog.blog_postdate }}</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        <p>Blog content:</p>    
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <p>{{ blog.blog_content }}</p>
                        </td>
                            
                    </tr>
                </tbody>
            </table>
        </div>
    </div><br>

                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No blog to show.</p>
    {% endif %}
</div>
{% endblock %}
